@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;1,700&display=swap');

@mixin outside-container {
    max-width: 1440px;
    margin: 0 auto;
}

@mixin inside-container {
    margin: 0 220px;
}

$primary-color: #fff;
$secondary-color: #16ABF8;
$tertiary-color:  #111111;

$background: #F4F4F4;
